services:
  - type: web
    name: jewelry-backend
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    autoDeploy: true

    envVars:
      - key: SPRING_DATASOURCE_URL
        value: jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:6543/postgres?prepareThreshold=0

      - key: SPRING_DATASOURCE_USERNAME
        value: postgres.ouctqivmplxdzrgpjggl

      - key: SPRING_DATASOURCE_PASSWORD
        sync: false

      - key: JWT_SECRET
        sync: false

      - key: SUPABASE_URL
        value: https://ouctqivmplxdzrgpjggl.supabase.co

      - key: SUPABASE_KEY
        sync: false

      - key: URL_DEV_AI
        value: https://phamxuannghi777-jewelrypython.hf.space
